/* Estilos del logo */
header div:first-child {
	width: 150px; /* Ancho del contenedor del logo */
  }
  
  header div:first-child img {
	max-width: 100%; /* Para que el logo se ajuste al ancho del contenedor */
  }
  
  /* Estilos del menú de navegación */
  header div:last-child {
	display: flex; /* Para que los elementos se muestren en línea */
	justify-content: flex-end; /* Para alinear los elementos a la derecha */
  }
  
  header nav ul {
	list-style: none; /* Quitamos los puntos de la lista */
	margin: 0;
	padding: 0;
  }
  
  header nav ul li {
	display: inline-block; /* Para que los elementos se muestren en línea */
	margin-left: 20px; /* Espacio entre elementos */
  }
  
  header nav ul li:first-child {
	margin-left: 0; /* Quitamos el margen izquierdo del primer elemento */
  }
  
  header nav ul li a {
	color: #333; /* Color del texto del enlace */
	text-decoration: none; /* Quitamos la subrayado del enlace */
	font-weight: bold; /* Negrita para resaltar el texto */
  }

/* Estilos de la sección Hero */
.hero {
	background-color: #333;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .hero h1 {
	font-size: 48px;
	color: #fff;
	text-align: center;
	text-shadow: 2px 2px 0 rgba(0,0,0,0.3);
	margin-bottom: 20px;
  }
  
  .hero p {
	font-size: 20px;
	color: #fff;
	text-align: center;
	max-width: 600px;
	margin: 0 auto 40px;
  }
  
  /* Estilos de la llamada a la acción */
  .btn-cta {
	display: inline-block;
	background-color: #fff;
	color: #333;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	padding: 15px 30px;
	border-radius: 5px;
	transition: all 0.3s ease;
  }
  
  .btn-cta:hover {
	background-color: #333;
	color: #fff;
  }
  
  
  /* Estilos de la llamada a la acción */
  .btn-cta {
	display: inline-block;
	background-color: #0e0e0e;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	padding: 15px 30px;
	border-radius: 5px;
	transition: all 0.3s ease;
  }
  
  .btn-cta:hover {
	background-color: #333;
	color: #fff;
  }

.two-columns {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  }
  
  .column-left {
	flex: 1;
	max-width: 50%;
	padding-right: 20px;
  }
  
  .column-right {
	flex: 1;
	max-width: 50%;
	padding-left: 20px;
  }
  
  .image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
  }
  
  .image-container img {
	max-width: 100%;
	height: auto;
  }
  
  .column-right h2 {
	font-size: 2rem;
	margin-bottom: 20px;
  }
  
  .column-right p {
	font-size: 1.2rem;
	line-height: 1.5;
	margin-bottom: 30px;
  }
  
  .column-right a {
	display: inline-block;
	background-color: #007bff;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	transition: all 0.3s ease;
  }
  
  .column-right a:hover {
	background-color: #0062cc;
  }
 /* estiloa de la galeria  */
 .gallery {
	background-color: #f2f2f2;
	padding: 50px 0;
  }
  
  .gallery h2 {
	text-align: center;
	margin-bottom: 30px;
  }
  
  .gallery-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }
  
  .gallery-container img {
	width: 250px;
	height: 250px;
	margin: 10px;
	object-fit: cover;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .gallery img:hover {
	transform: scale(1.1);
  }

footer {
	background-color: #222;
	color: #fff;
	padding: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: Arial, sans-serif;
  }
  
  .footer-column {
	width: 25%;
  }
  
  .footer-column h3 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
  }
  
  .footer-column ul {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .footer-column li {
	margin-bottom: 10px;
  }
  
  .social-buttons {
	display: flex;
  }
  
  .social-buttons a {
	color: #fff;
	background-color: #333;
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	margin-right: 10px;
	transition: all 0.2s ease-in-out;
  }
  
  .social-buttons a:hover {
	background-color: #fff;
	color: #222;
  }
  
  .social-buttons i {
	font-size: 20px;
	vertical-align: middle;
  }